<image schemeversion="2.4" name="OpenAustralia_DevLive">
  <description type="system">
    <author>henare</author>
    <contact>studio-devel@suse.de</contact>
    <specification>Base system + GNOME</specification>
  </description>
  <preferences>
    <type primary="true" boot="vmxboot/suse-11.1" format="vmdk" checkprebuilt="true" filesystem="ext3">vmx</type>
    <version>0.0.3</version>
    <packagemanager>ensconce</packagemanager>
    <rpm-check-signatures>False</rpm-check-signatures>
    <rpm-force>False</rpm-force>
    <locale>en_GB</locale>
    <size additive="false" unit="G">16</size>
  </preferences>
  <users group="root">
    <user name="root" pwd="$1$GO7Y8eq3$5iio0G3uXbzGJ1ulOYcWt." home="/root"/>
  </users>
  <users group="users">
    <user name="user" pwd="$1$25hPUzYV$jHi997xioD7feTMRfk3jG0" home="/home/user"/>
  </users>
  <repository type="rpm-md">
    <source path="http://packman.mirrors.skynet.be/pub/packman/suse/11.1/"/>
  </repository>
  <repository type="yast2">
    <source path="http://download.opensuse.org/distribution/11.1/repo/oss/"/>
  </repository>
  <repository type="rpm-md">
    <source path="http://download.opensuse.org/update/11.1/"/>
  </repository>
  <vmwareconfig arch="ix86" memory="512" guestOS="suse" usb="true">
    <vmwaredisk controller="scsi" id="0"/>
    <vmwarenic interface="0" driver="e1000" mode="bridged"/>
  </vmwareconfig>
  <packages type="image" patternType="onlyRequired" patternPackageType="plusRecommended">
    <package name="ConsoleKit"/>
    <package name="ConsoleKit-x11"/>
    <package name="Mesa"/>
    <package name="MozillaFirefox"/>
    <package name="MozillaFirefox-branding-openSUSE"/>
    <package name="NetworkManager-glib"/>
    <package name="PolicyKit"/>
    <package name="PolicyKit-gnome-libs"/>
    <package name="SuSEfirewall2"/>
    <package name="aaa_base"/>
    <package name="acl"/>
    <package name="apache2"/>
    <package name="apache2-mod_php5"/>
    <package name="apache2-prefork"/>
    <package name="apache2-utils"/>
    <package name="art-sharp2"/>
    <package name="aspell"/>
    <package name="atk"/>
    <package name="attr"/>
    <package name="audiofile"/>
    <package name="audit-libs"/>
    <package name="autoyast2-installation"/>
    <package name="bash"/>
    <package name="bootsplash"/>
    <package name="bootsplash-branding-openSUSE"/>
    <package name="branding-openSUSE"/>
    <package name="bug-buddy"/>
    <package name="bundle-lang-common-ar"/>
    <package name="bundle-lang-gnome-ar"/>
    <package name="bzip2"/>
    <package name="cairo"/>
    <package name="cdparanoia"/>
    <package name="check"/>
    <package name="coreutils"/>
    <package name="cpio"/>
    <package name="cpp"/>
    <package name="cpp43"/>
    <package name="cracklib"/>
    <package name="cracklib-dict-full"/>
    <package name="cron"/>
    <package name="cryptsetup"/>
    <package name="cups-client"/>
    <package name="cups-libs"/>
    <package name="curl"/>
    <package name="cyrus-sasl"/>
    <package name="cyrus-sasl-crammd5"/>
    <package name="cyrus-sasl-digestmd5"/>
    <package name="cyrus-sasl-gssapi"/>
    <package name="cyrus-sasl-plain"/>
    <package name="db-utils"/>
    <package name="dbus-1"/>
    <package name="dbus-1-glib"/>
    <package name="dbus-1-x11"/>
    <package name="desktop-data-openSUSE"/>
    <package name="desktop-file-utils"/>
    <package name="device-mapper"/>
    <package name="dhcpcd"/>
    <package name="diffutils"/>
    <package name="dirmngr"/>
    <package name="dmraid"/>
    <package name="e2fsprogs"/>
    <package name="eel"/>
    <package name="eject"/>
    <package name="elfutils"/>
    <package name="enchant"/>
    <package name="ethtool"/>
    <package name="evolution-data-server"/>
    <package name="expat"/>
    <package name="file"/>
    <package name="filesystem"/>
    <package name="fillup"/>
    <package name="findutils"/>
    <package name="fontconfig"/>
    <package name="fonts-config"/>
    <package name="freetype2"/>
    <package name="gamin"/>
    <package name="gawk"/>
    <package name="gconf-sharp2"/>
    <package name="gconf2"/>
    <package name="gconf2-branding-openSUSE"/>
    <package name="gdb"/>
    <package name="gdbm"/>
    <package name="gdm"/>
    <package name="gdm-branding-openSUSE"/>
    <package name="genisoimage"/>
    <package name="ghostscript-fonts-std"/>
    <package name="git"/>
    <package name="git-core"/>
    <package name="glade-sharp2"/>
    <package name="glib-sharp2"/>
    <package name="glib2"/>
    <package name="glib2-branding-openSUSE"/>
    <package name="glibc"/>
    <package name="glibc-devel"/>
    <package name="glibc-locale"/>
    <package name="glitz"/>
    <package name="gmime"/>
    <package name="gmime-sharp"/>
    <package name="gmp"/>
    <package name="gnome-applets"/>
    <package name="gnome-control-center"/>
    <package name="gnome-desktop"/>
    <package name="gnome-icon-theme"/>
    <package name="gnome-keyring"/>
    <package name="gnome-main-menu"/>
    <package name="gnome-media"/>
    <package name="gnome-menus"/>
    <package name="gnome-menus-branding-openSUSE"/>
    <package name="gnome-panel"/>
    <package name="gnome-panel-sharp"/>
    <package name="gnome-session"/>
    <package name="gnome-settings-daemon"/>
    <package name="gnome-sharp2"/>
    <package name="gnome-terminal"/>
    <package name="gnome-themes"/>
    <package name="gnome-vfs-sharp2"/>
    <package name="gnome-vfs2"/>
    <package name="gpg2"/>
    <package name="grep"/>
    <package name="groff"/>
    <package name="grub"/>
    <package name="gstreamer-0_10"/>
    <package name="gstreamer-0_10-lang"/>
    <package name="gstreamer-0_10-plugins-base"/>
    <package name="gstreamer-0_10-plugins-base-lang"/>
    <package name="gstreamer-0_10-plugins-good"/>
    <package name="gstreamer-0_10-plugins-good-lang"/>
    <package name="gtk-sharp2"/>
    <package name="gtk2"/>
    <package name="gtk2-engines"/>
    <package name="gtk2-theme-openSUSE"/>
    <package name="gtk2-themes"/>
    <package name="gtkspell"/>
    <package name="gucharmap"/>
    <package name="gvfs"/>
    <package name="gzip"/>
    <package name="hal"/>
    <package name="hicolor-icon-theme"/>
    <package name="hunspell"/>
    <package name="hwinfo"/>
    <package name="icewm"/>
    <package name="icewm-lite"/>
    <package name="imlib2"/>
    <package name="info"/>
    <package name="insserv"/>
    <package name="iproute2"/>
    <package name="iptables"/>
    <package name="iputils"/>
    <package name="iso-codes"/>
    <package name="kbd"/>
    <package name="kernel-default"/>
    <package name="kernel-default-base"/>
    <package name="keyutils-libs"/>
    <package name="klogd"/>
    <package name="kpartx"/>
    <package name="krb5"/>
    <package name="ladspa"/>
    <package name="lcms"/>
    <package name="less"/>
    <package name="libFLAC8"/>
    <package name="libacl"/>
    <package name="libaio"/>
    <package name="libapr-util1"/>
    <package name="libapr1"/>
    <package name="libart_lgpl"/>
    <package name="libasm1"/>
    <package name="libasound2"/>
    <package name="libatk-1_0-0"/>
    <package name="libattr"/>
    <package name="libavahi-client3"/>
    <package name="libavahi-common3"/>
    <package name="libavahi-glib1"/>
    <package name="libbeagle1"/>
    <package name="libblkid1"/>
    <package name="libblocxx6"/>
    <package name="libbonobo"/>
    <package name="libbonoboui"/>
    <package name="libbz2-1"/>
    <package name="libcaca0"/>
    <package name="libcanberra-gtk"/>
    <package name="libcanberra-gtk0"/>
    <package name="libcanberra0"/>
    <package name="libcom_err2"/>
    <package name="libcroco-0_6-3"/>
    <package name="libcryptsetup0"/>
    <package name="libcurl4"/>
    <package name="libdb-4_5"/>
    <package name="libdnet1"/>
    <package name="libdrm"/>
    <package name="libdw1"/>
    <package name="libeel-2-2"/>
    <package name="libelf1"/>
    <package name="libenchant1"/>
    <package name="libesd0"/>
    <package name="libevoldap-2_4-2"/>
    <package name="libexempi3"/>
    <package name="libexif"/>
    <package name="libexpat1"/>
    <package name="libext2fs2"/>
    <package name="libgcc43"/>
    <package name="libgcrypt11"/>
    <package name="libgio-2_0-0"/>
    <package name="libglade2"/>
    <package name="libglib-2_0-0"/>
    <package name="libgmime-2_0-3"/>
    <package name="libgmodule-2_0-0"/>
    <package name="libgnome"/>
    <package name="libgnome-desktop-2-7"/>
    <package name="libgnome-menu2"/>
    <package name="libgnomecanvas"/>
    <package name="libgnomecups"/>
    <package name="libgnomekbd"/>
    <package name="libgnomeprint"/>
    <package name="libgnomeprintui"/>
    <package name="libgnomesu"/>
    <package name="libgnomesu0"/>
    <package name="libgnomeui"/>
    <package name="libgnutls26"/>
    <package name="libgobject-2_0-0"/>
    <package name="libgpg-error0"/>
    <package name="libgsf-1-114"/>
    <package name="libgssglue1"/>
    <package name="libgstinterfaces-0_10-0"/>
    <package name="libgstreamer-0_10-0"/>
    <package name="libgthread-2_0-0"/>
    <package name="libgtop"/>
    <package name="libgtop-2_0-7"/>
    <package name="libgvfscommon0"/>
    <package name="libgweather"/>
    <package name="libgweather1"/>
    <package name="libicu"/>
    <package name="libidl"/>
    <package name="libidn"/>
    <package name="libjasper"/>
    <package name="libjpeg"/>
    <package name="libksba"/>
    <package name="liblcms1"/>
    <package name="libldap-2_4-2"/>
    <package name="libldapcpp1"/>
    <package name="libltdl7"/>
    <package name="libmm14"/>
    <package name="libmng"/>
    <package name="libmpfr1"/>
    <package name="libmysqlclient-devel"/>
    <package name="libmysqlclient15"/>
    <package name="libmysqlclient_r15"/>
    <package name="libncurses5"/>
    <package name="libnet"/>
    <package name="libnetpbm10"/>
    <package name="libnotify"/>
    <package name="libnotify1"/>
    <package name="libnscd"/>
    <package name="libnsssharedhelper0"/>
    <package name="libogg0"/>
    <package name="liboil-0_3-0"/>
    <package name="libopenct1"/>
    <package name="libopensc2"/>
    <package name="libopenssl-devel"/>
    <package name="libopenssl0_9_8"/>
    <package name="libpng12-0"/>
    <package name="libpulse0"/>
    <package name="libpython2_6-1_0"/>
    <package name="libqt4"/>
    <package name="libqt4-qt3support"/>
    <package name="libqt4-sql"/>
    <package name="libqt4-x11"/>
    <package name="libreadline5"/>
    <package name="libreiserfs"/>
    <package name="librsvg"/>
    <package name="libsamplerate"/>
    <package name="libselinux1"/>
    <package name="libsepol1"/>
    <package name="libsexy"/>
    <package name="libsmbclient0"/>
    <package name="libsmbios2"/>
    <package name="libsndfile"/>
    <package name="libsoup"/>
    <package name="libsoup-2_4-1"/>
    <package name="libspeex"/>
    <package name="libsqlite3-0"/>
    <package name="libstdc++43"/>
    <package name="libtalloc1"/>
    <package name="libtasn1"/>
    <package name="libtasn1-3"/>
    <package name="libtdb1"/>
    <package name="libtheoradec1"/>
    <package name="libtheoraenc1"/>
    <package name="libtiff3"/>
    <package name="libtirpc1"/>
    <package name="liburiparser1"/>
    <package name="libusb-0_1-4"/>
    <package name="libuuid1"/>
    <package name="libvisual"/>
    <package name="libvolume_id1"/>
    <package name="libvorbis"/>
    <package name="libwavpack1"/>
    <package name="libwbclient0"/>
    <package name="libwnck"/>
    <package name="libwnck-1-22"/>
    <package name="libxcrypt"/>
    <package name="libxklavier"/>
    <package name="libxklavier12"/>
    <package name="libxml2"/>
    <package name="libzio"/>
    <package name="libzypp"/>
    <package name="licenses"/>
    <package name="limal"/>
    <package name="limal-perl"/>
    <package name="linux-kernel-headers"/>
    <package name="login"/>
    <package name="logrotate"/>
    <package name="lukemftp"/>
    <package name="lvm2"/>
    <package name="mailx"/>
    <package name="man"/>
    <package name="master-boot-code"/>
    <package name="mdadm"/>
    <package name="metacity"/>
    <package name="mingetty"/>
    <package name="mkinitrd"/>
    <package name="module-init-tools"/>
    <package name="mono-core"/>
    <package name="mozilla-nspr"/>
    <package name="mozilla-nss"/>
    <package name="mozilla-xulrunner190"/>
    <package name="multipath-tools"/>
    <package name="mysql"/>
    <package name="mysql-client"/>
    <package name="nautilus"/>
    <package name="ncurses-utils"/>
    <package name="ndesk-dbus"/>
    <package name="ndesk-dbus-glib"/>
    <package name="net-tools"/>
    <package name="netcfg"/>
    <package name="netpbm"/>
    <package name="notification-daemon"/>
    <package name="open-vm-tools"/>
    <package name="open-vm-tools-gui"/>
    <package name="openSUSE-build-key"/>
    <package name="openSUSE-release"/>
    <package name="openSUSE-release-ftp"/>
    <package name="openldap2-client"/>
    <package name="opensc"/>
    <package name="openslp"/>
    <package name="openssh"/>
    <package name="openssl"/>
    <package name="orbit2"/>
    <package name="pam"/>
    <package name="pam-config"/>
    <package name="pam-modules"/>
    <package name="pango"/>
    <package name="parted"/>
    <package name="pciutils"/>
    <package name="pciutils-ids"/>
    <package name="pcre"/>
    <package name="pcsc-lite"/>
    <package name="perl"/>
    <package name="perl-Bootloader"/>
    <package name="perl-Carp-Assert"/>
    <package name="perl-Class-Accessor"/>
    <package name="perl-Config-Crontab"/>
    <package name="perl-DBD-mysql"/>
    <package name="perl-DBI"/>
    <package name="perl-Data-ShowTable"/>
    <package name="perl-Digest-SHA1"/>
    <package name="perl-HTML-Parser"/>
    <package name="perl-HTML-Tagset"/>
    <package name="perl-Net-Daemon"/>
    <package name="perl-Parse-RecDescent"/>
    <package name="perl-PlRPC"/>
    <package name="perl-UNIVERSAL-require"/>
    <package name="perl-X500-DN"/>
    <package name="perl-XML-LibXML"/>
    <package name="perl-XML-LibXML-Common"/>
    <package name="perl-XML-NamespaceSupport"/>
    <package name="perl-XML-Parser"/>
    <package name="perl-XML-RSS-LibXML"/>
    <package name="perl-XML-SAX"/>
    <package name="perl-XML-Simple"/>
    <package name="perl-XML-Twig"/>
    <package name="perl-base"/>
    <package name="perl-gettext"/>
    <package name="permissions"/>
    <package name="php5"/>
    <package name="php5-mysql"/>
    <package name="php5-pdo"/>
    <package name="pinentry"/>
    <package name="pkg-config"/>
    <package name="pm-utils"/>
    <package name="pmtools"/>
    <package name="polkit-default-privs"/>
    <package name="popt"/>
    <package name="postfix"/>
    <package name="procps"/>
    <package name="psmisc"/>
    <package name="pth"/>
    <package name="pulseaudio"/>
    <package name="pulseaudio-esound-compat"/>
    <package name="pulseaudio-lang"/>
    <package name="pwdutils"/>
    <package name="python"/>
    <package name="python-base"/>
    <package name="rpcbind"/>
    <package name="rpm"/>
    <package name="rsync"/>
    <package name="satsolver-tools"/>
    <package name="sax2"/>
    <package name="sax2-gui"/>
    <package name="sax2-ident"/>
    <package name="sax2-libsax"/>
    <package name="sax2-libsax-perl"/>
    <package name="sax2-tools"/>
    <package name="sed"/>
    <package name="setserial"/>
    <package name="shared-mime-info"/>
    <package name="slang"/>
    <package name="sound-theme-freedesktop"/>
    <package name="speex"/>
    <package name="startup-notification"/>
    <package name="sysconfig"/>
    <package name="syslog-ng"/>
    <package name="sysvinit"/>
    <package name="taglib"/>
    <package name="tango-icon-theme"/>
    <package name="tar"/>
    <package name="tcpd"/>
    <package name="terminfo-base"/>
    <package name="timezone"/>
    <package name="tomboy"/>
    <package name="udev"/>
    <package name="unzip"/>
    <package name="update-alternatives"/>
    <package name="utempter"/>
    <package name="util-linux"/>
    <package name="uuid-runtime"/>
    <package name="vim"/>
    <package name="vim-base"/>
    <package name="vmware-kmp-default"/>
    <package name="vte"/>
    <package name="wget"/>
    <package name="wireless-tools"/>
    <package name="x11-tools"/>
    <package name="xdg-menu"/>
    <package name="xdg-utils"/>
    <package name="xkeyboard-config"/>
    <package name="xorg-x11"/>
    <package name="xorg-x11-driver-input"/>
    <package name="xorg-x11-driver-video"/>
    <package name="xorg-x11-driver-video-radeonhd"/>
    <package name="xorg-x11-driver-video-unichrome"/>
    <package name="xorg-x11-fonts-core"/>
    <package name="xorg-x11-libICE"/>
    <package name="xorg-x11-libSM"/>
    <package name="xorg-x11-libX11"/>
    <package name="xorg-x11-libXau"/>
    <package name="xorg-x11-libXdmcp"/>
    <package name="xorg-x11-libXext"/>
    <package name="xorg-x11-libXfixes"/>
    <package name="xorg-x11-libXmu"/>
    <package name="xorg-x11-libXp"/>
    <package name="xorg-x11-libXpm"/>
    <package name="xorg-x11-libXprintUtil"/>
    <package name="xorg-x11-libXrender"/>
    <package name="xorg-x11-libXt"/>
    <package name="xorg-x11-libXv"/>
    <package name="xorg-x11-libfontenc"/>
    <package name="xorg-x11-libs"/>
    <package name="xorg-x11-libxcb"/>
    <package name="xorg-x11-libxkbfile"/>
    <package name="xorg-x11-server"/>
    <package name="xorg-x11-server-extra"/>
    <package name="xorg-x11-xauth"/>
    <package name="xterm"/>
    <package name="yast2"/>
    <package name="yast2-bootloader"/>
    <package name="yast2-branding-openSUSE"/>
    <package name="yast2-control-center"/>
    <package name="yast2-control-center-gnome"/>
    <package name="yast2-core"/>
    <package name="yast2-country"/>
    <package name="yast2-country-data"/>
    <package name="yast2-firstboot"/>
    <package name="yast2-gtk"/>
    <package name="yast2-hardware-detection"/>
    <package name="yast2-http-server"/>
    <package name="yast2-installation"/>
    <package name="yast2-ldap"/>
    <package name="yast2-ldap-client"/>
    <package name="yast2-libyui"/>
    <package name="yast2-mouse"/>
    <package name="yast2-ncurses"/>
    <package name="yast2-network"/>
    <package name="yast2-packager"/>
    <package name="yast2-pam"/>
    <package name="yast2-perl-bindings"/>
    <package name="yast2-pkg-bindings"/>
    <package name="yast2-qt"/>
    <package name="yast2-security"/>
    <package name="yast2-storage"/>
    <package name="yast2-storage-lib"/>
    <package name="yast2-theme-openSUSE"/>
    <package name="yast2-trans-stats"/>
    <package name="yast2-transfer"/>
    <package name="yast2-update"/>
    <package name="yast2-users"/>
    <package name="yast2-x11"/>
    <package name="yast2-xml"/>
    <package name="yast2-ycp-ui-bindings"/>
    <package name="zlib"/>
    <package name="zlib-devel"/>
    <package name="zypper"/>
  </packages>
  <packages type="bootstrap">
    <package name="filesystem"/>
    <package name="glibc-locale"/>
  </packages>
</image>
